<div class="mdl-grid models-bg">
  <div class="mdl-cell mdl-cell--6-col-desktop models-cell" [class.mat-elevation-z10]="true" id="roadster">
    <h1 class="headline mat-display-1">Tesla Roadster 2020</h1>
    <section class="content-data">
      <section class="data-relative">
        <button mat-raised-button color="primary" class="button">{{ 'EXTRAS.BUTTON' | translate }}</button>
      </section>
    </section>
  </div>
  <div class="mdl-cell mdl-cell--6-col-desktop models-cell" [class.mat-elevation-z10]="true" id="model-3">
    <h1 class="headline mat-display-1">Tesla Model 3</h1>
    <section class="content-data">
      <section class="data-relative">
        <button mat-raised-button color="primary" class="button">{{ 'EXTRAS.BUTTON' | translate }}</button>
      </section>
    </section>
  </div>
  <div class="mdl-cell mdl-cell--4-col-desktop models-cell" [class.mat-elevation-z10]="true" id="semi">
    <h1 class="headline mat-display-1">Tesla Semi Model</h1>
    <section class="content-data">
      <section class="data-relative">
        <button mat-raised-button color="primary" class="button">{{ 'EXTRAS.BUTTON' | translate }}</button>
      </section>
    </section>
  </div>
  <div class="mdl-cell mdl-cell--4-col-desktop models-cell" [class.mat-elevation-z10]="true" id="model-s">
    <h1 class="headline mat-display-1">Tesla Model S</h1>
    <section class="content-data">
      <section class="data-relative">
        <button mat-raised-button color="primary" class="button">{{ 'EXTRAS.BUTTON' | translate }}</button>
      </section>
    </section>
  </div>
  <div class="mdl-cell mdl-cell--4-col-desktop models-cell" [class.mat-elevation-z10]="true" id="model-x">
    <h1 class="headline mat-display-1">Tesla Model X</h1>
    <section class="content-data">
      <section class="data-relative">
        <button mat-raised-button color="primary" class="button">{{ 'EXTRAS.BUTTON' | translate }}</button>
      </section>
    </section>
  </div>
</div>
