<!-- Starting content-->
<div class="mdl-grid" id="hero-section">
  <section id="overlay">
    <h1 id="heading">Historia</h1>
  </section>
</div>

<section class="red-divider"></section>

<div class="mdl-grid extra-padding">
  <div class="mdl-cell mdl-cell--10-col mdl-cell--1-offset-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-cell--0-offset-tablet mdl-cell--0-offset-phone">
    <h2 class="heading-100">Inicios</h2>
    <section class="normal-text">
      Tesla Motors diseñó cajas de cambio de una marcha para el Roadster y para el Model S. Combinan un peso bajo con una alta eficiencia para adecuarse a la velocidad y par motor de los motores de inducción de corriente alterna. Se fabrican en la planta de
      Tesla. Los vehículos eléctricos contienen muchos procesadores para controlar funciones de seguridad y potencia. Tesla Motors construye el firmware de muchos procesadores con algoritmos que controlan la tracción, la estabilidad del vehículo, la
      aceleración, el freno regenerativo, el estado de carga de cada célula del paquete de baterías y los sistemas de seguridad.
    </section>
  </div>
</div>

<div class="mdl-grid normal-row">
  <div class="mdl-cell mdl-cell--10-col mdl-cell--1-offset-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-cell--0-offset-tablet mdl-cell--0-offset-phone">
    <h2>The Grand Nikola Tesla</h2>
    <section class="normal-text mdl-cell mdl-cell--10-col">
      El núcleo de la compañía está en la ingeniería del sistema de propulsión del vehículo eléctrico que incluye: paquete de baterías, motor, electrónica de potencia, caja de cambios y software de control que permite que todos los componentes formen un sistema.
      <br><br> El diseño modular permite reutilizar componentes en diferentes modelos de Tesla y de otros fabricantes. El sistema es muy compacto y contiene muchas menos piezas móviles que un motor térmico.​ Tesla Motors usa motores de inducción de
      tres fases que incorporan un rotor de cobre y unos devanados de cobre optimizados para reducir la resistencia y la pérdida de energía.
      <br><br> Tesla desarrolló patentes fundamentales para su fabricación.​ La electrónica de potencia gobierna el flujo de corriente de entrada y salida del paquete de baterías. Controla la generación de par motor durante la conducción y la recarga
      del paquete de baterías cuando está conectado a un enchufe.​
    </section>
  </div>
</div>

<h1>Hello this is History Route</h1>
<!-- Finish content -->
