<!-- Starting content-->
<div class="mdl-grid" id="hero-section">
  <section id="overlay">
    <h1 id="heading">{{ 'HISTORY.TITLE' | translate }}</h1>
  </section>
</div>

<section class="red-divider"></section>
<div class="mdl-grid extra-padding">
  <div class="mdl-cell mdl-cell--10-col mdl-cell--1-offset-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-cell--0-offset-tablet mdl-cell--0-offset-phone">
    <h2 class="heading-100">{{ 'HOME.TITLE_2' | translate }}</h2>
    <section class="normal-text">
      {{ 'HISTORY.CONTENT-1' | translate }}
      <br><br>
      {{ 'HISTORY.CONTENT-2' | translate }}
      <br><br>
      {{ 'HISTORY.CONTENT-3' | translate }}
      <br><br>
      {{ 'HISTORY.CONTENT-4' | translate }}
        </section>
      </div>
    </div>

    <div class="mdl-grid minimal-text">
      <div class="mdl-cell mdl-cell--2-offset-desktop mdl-cell--8-col-desktop mdl-cell--1-offset-tablet mdl-cell--6-col-tablet mdl-cell--7-col-phone">
        <img src="../../../assets/img/Retrato_Nikola_Tesla.jpg" class="round round-block card-shadow" alt="">
        <span> {{ 'HISTORY.CONTENT-5' | translate }}</span>
      </div>
    </div>

    <div class="mdl-grid extra-padding">
      <div class="mdl-cell mdl-cell--10-col mdl-cell--1-offset-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-cell--0-offset-tablet mdl-cell--0-offset-phone">
        <section class="normal-text">
        {{ 'HISTORY.CONTENT-6' | translate }}
        <br><br>
        {{ 'HISTORY.CONTENT-7' | translate }}
      </section>
      </div>
    </div>

      <div class="mdl-grid minimal-text">
        <div class="mdl-cell mdl-cell--2-offset-desktop mdl-cell--8-col-desktop mdl-cell--1-offset-tablet mdl-cell--6-col-tablet mdl-cell--7-col-phone">
          <img src="../../../assets/img/tesla-logo-origins.jpg" class="round round-block card-shadow" alt="">
          <span>{{ 'HISTORY.CONTENT-8' | translate }}</span>
        </div>
      </div>

    <div class="mdl-grid extra-padding">
      <div class="mdl-cell mdl-cell--10-col mdl-cell--1-offset-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-cell--0-offset-tablet mdl-cell--0-offset-phone">
        <section class="normal-text">
        {{ 'HISTORY.CONTENT-9' | translate }}
        <br><br>
        {{ 'HISTORY.CONTENT-10' | translate }}
      </section>
      </div>
    </div>
<!-- Finish content -->
