<!--The content below is only a placeholder and can be replaced.-->
<!-- Calling app-header with <main> -->
<app-header>
  <div class="mdl-grid" id="hero-section">
    <section id="overlay">
      <img src="../assets/img/TESLA.png" id="tesla" alt="">
      <h1 id="heading"></h1>
    </section>
  </div>

  <section class="red-divider"></section>
    <div class="mdl-grid normal-row">
      <div class="mdl-cell mdl-cell--10-col mdl-cell--1-offset-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-cell--0-offset-tablet mdl-cell--0-offset-phone">
        <h2></h2>
        <section class="normal-text mdl-cell mdl-cell--10-col">
          El núcleo de la compañía está en la ingeniería del sistema de propulsión del vehículo eléctrico que incluye: paquete de baterías, motor, electrónica de potencia, caja de cambios y software de control que permite que todos los componentes formen un sistema.
          <br><br>
          El diseño modular permite reutilizar componentes en diferentes modelos de Tesla y de otros fabricantes. El sistema es muy compacto y contiene muchas menos piezas móviles que un motor térmico.​ Tesla Motors usa motores de inducción de tres fases que incorporan un rotor de cobre y unos devanados de cobre optimizados para reducir la resistencia y la pérdida de energía.
          <br><br>
          Tesla desarrolló patentes fundamentales para su fabricación.​ La electrónica de potencia gobierna el flujo de corriente de entrada y salida del paquete de baterías. Controla la generación de par motor durante la conducción y la recarga del paquete de baterías cuando está conectado a un enchufe.​
        </section>
        <img src="../assets/img/EloMusk.jpg" class="avatar-elo" alt="">
      </div>
    </div>

    <div class="mdl-grid extra-padding">
      <div class="mdl-cell mdl-cell--10-col mdl-cell--1-offset-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-cell--0-offset-tablet mdl-cell--0-offset-phone">
        <h2 class="heading-100">Proposito</h2>
        <section class="normal-text">
          Tesla Motors diseñó cajas de cambio de una marcha para el Roadster y para el Model S. Combinan un peso bajo con una alta eficiencia para adecuarse a la velocidad y par motor de los motores de inducción de corriente alterna. Se fabrican en la planta de Tesla.5​ Los vehículos eléctricos contienen muchos procesadores para controlar funciones de seguridad y potencia. Tesla Motors construye el firmware de muchos procesadores con algoritmos que controlan la tracción, la estabilidad del vehículo, la aceleración, el freno regenerativo, el estado de carga de cada célula del paquete de baterías y los sistemas de seguridad.
        </section>
    </div>

    <div class="mdl-cell mdl-cell--1-col-desktop mdl-cell--1-col-tablet"></div>

    <div class="mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--1-col-offset-tablet mdl-cell--4-col-desktop mdl-cell--2-offset-desktop">
      <div class="demo-card-square mdl-card card-shadow">
        <div class="mdl-card__title mdl-card--expand">
          <h2 class="mdl-card__title-text">Nuestra fabrica</h2>
        </div>
        <div class="mdl-card__supporting-text card-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Aenan convallis.
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-js-button mdl-js-ripple-effect">
            Ver más
          </a>
        </div>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--4-col-desktop">
      <div class="demo-card-square mdl-card card-shadow">
        <div class="mdl-card__title mdl-card--expand">
          <h2 class="mdl-card__title-text">Inicios de Tesla</h2>
        </div>
        <div class="mdl-card__supporting-text card-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Aenan convallis.
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-js-button mdl-js-ripple-effect">
            Ver más
          </a>
        </div>
      </div>
    </div>

    <!--
    <div class="mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--1-col-offset-tablet mdl-cell--4-col-desktop mdl-cell--2-col-offset-desktop">
      <div class="demo-card-square mdl-card card-shadow">
        <div class="mdl-card__title mdl-card--expand">
          <h2 class="mdl-card__title-text">Nuestra fabrica</h2>
        </div>
        <div class="mdl-card__supporting-text card-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Aenan convallis.
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-js-button mdl-js-ripple-effect">
            Ver más
          </a>
        </div>
      </div>
    </div> -->
  </div>

  <div class="mdl-grid normal-row">
    <div class="mdl-cell mdl-cell--10-col mdl-cell--1-offset-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-cell--0-offset-tablet mdl-cell--0-offset-phone giant-card">
      <h2 class="heading-100">Primeros años</h2>
      <section class="normal-text">
        Tesla Motors realiza el diseño y la ingeniería de carrocería, chasis, interiores, sistemas de calefacción y aire acondicionado. Algunos subsistemas de un automóvil tradicional deben ser rediseñados en un vehículo eléctrico. Por ejemplo, Tesla Motors rediseñó el sistema de climatización para integrarlo con el sistema de gestión de temperatura del paquete de baterías.5
        <br><br>
        Al 31 de diciembre de 2011 Tesla Motors tenía 59 patentes adjudicadas y otras 230 patentes pendientes de aprobación. Las patentes comenzarán a caducar en 2026. El 12 de junio de 2014 Tesla Motors liberó todas sus patentes.​ Los beneficios de Tesla Motors a 31 de diciembre fueron de 111,9 millones de dólares en 2009, 116,7 millones de dólares en 2010 y 204,2 millones de dólares en 2011.5​ Tesla Motors tuvo una pérdida neta en 2011 de 254,4 millones de dólares y una pérdida neta acumulada de 669,4 millones de dólares a 31 de diciembre de 2011.
      </section>
    </div>

    <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet">
      <img src="../assets/img/TeslaModelS.jpg" class="model-car  box-shadow"alt="">
    </div>

    <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet">
      <img src="../assets/img/TeslaSpor.jpg" class="model-car  box-shadow"alt="">
    </div>

    <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet">
      <img src="../assets/img/TeslaRoadster.jpg" class="model-car box-shadow"alt="">
    </div>
  </div>


    <div class="mdl-grid extra-padding">
      <div class="mdl-cell mdl-cell--10-col mdl-cell--1-offset-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-cell--0-offset-tablet mdl-cell--0-offset-phone">
        <section class="normal-text">
          Tesla Motors realiza el diseño y la ingeniería de carrocería, chasis, interiores, sistemas de calefacción y aire acondicionado. Algunos subsistemas de un automóvil tradicional deben ser rediseñados en un vehículo eléctrico. Por ejemplo, Tesla Motors rediseñó el sistema de climatización para integrarlo con el sistema de gestión de temperatura del paquete de baterías.5
          <br><br>
          Al 31 de diciembre de 2011 Tesla Motors tenía 59 patentes adjudicadas y otras 230 patentes pendientes de aprobación. Las patentes comenzarán a caducar en 2026. El 12 de junio de 2014 Tesla Motors liberó todas sus patentes.​ Los beneficios de Tesla Motors a 31 de diciembre fueron de 111,9 millones de dólares en 2009, 116,7 millones de dólares en 2010 y 204,2 millones de dólares en 2011.5​ Tesla Motors tuvo una pérdida neta en 2011 de 254,4 millones de dólares y una pérdida neta acumulada de 669,4 millones de dólares a 31 de diciembre de 2011.
          <br><br>
          <button mat-raised-button color="primary" routerLink=".">VER MAS</button>
        </section>
      </div>
    </div>

    <div class="mdl-grid extra-padding">
      <div class="mdl-cell mdl-cell--10-col mdl-cell--1-offset-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-cell--0-offset-tablet mdl-cell--0-offset-phone">
        <h2 class="heading-100">Eventos</h2>
        <section class="normal-text">
          Tesla Motors realiza el diseño y la ingeniería de carrocería, chasis, interiores, sistemas de calefacción y aire acondicionado. Algunos subsistemas de un automóvil tradicional deben ser rediseñados en un vehículo eléctrico. Por ejemplo, Tesla Motors rediseñó el sistema de climatización para integrarlo con el sistema de gestión de temperatura del paquete de baterías.
        </section>

        <mat-divider>
        </mat-divider>

        <!-- Number badge on icon -->
        <div class="mdl-grid extra-padding add-padding">
        <div class="demo-card-event mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet">
          <div class="mdl-card__title mdl-card--expand">
            <h4>
              Evento proximo:<br>
              May 24, 2018<br>
              7-11pm
              <br>
              San Diego, California<br>
              <span>Reservacion: <span></span></span>
            </h4>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored mdl-tesla-text">
            Agregar al calendario
            </a>
            <div class="mdl-layout-spacer"></div>
            <i class="material-icons"></i>
          </div>
        </div>

        <div class="demo-card-event mdl-card mdl-shadow--8dp mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet">
                <div class="mdl-card__title mdl-card--expand">
                  <h4>
                    Evento proximo:<br>
                    May 27, 2018<br>
                    3-6pm
                    <br>
                    Manhattan, New York<br>
                    <span>Reservacion: <span></span></span>
                  </h4>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                  <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-tesla">
                  Asistir al evento
                  </a>
                  <div class="mdl-layout-spacer"></div>
                  <i class="material-icons"></i>
                </div>
        </div>

        <div class="demo-card-event mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet">
                <div class="mdl-card__title mdl-card--expand">
                  <h4>
                    Evento proximo:<br>
                    May 28, 2018<br>
                    3-6pm
                    <br>
                    Bronx, New York<br>
                    <span>Reservacion: <span></span></span>
                  </h4>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                  <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored mdl-tesla-text">
                  Ver en el calendario
                  </a>
                  <div class="mdl-layout-spacer"></div>
                  <i class="material-icons"></i>
                </div>
        </div>
      </div>


      </div>
    </div> <!-- Main app -->

<!-- Calling app footer -->
<app-footer></app-footer>

<!-- Closing header with main -->
</app-header>
