<!-- Starting content from News-->
<div class="mdl-grid" id="hero-section-news">
  <section id="overlay">
    <h1 id="heading-news">Noticias</h1>
  </section>
</div>

<!-- NEWS CARD -->

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-offset-desktop mdl-cell--4-col-desktop" *ngFor="let user of USER">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Addy O'Neill</mat-card-title>
        <mat-card-subtitle>Tesla Engineer</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div *ngFor="let user of USER"><h1>hello</h1></div>
