<!--The content below is only a placeholder and can be replaced.-->
<!-- Calling app-header with <main> -->
<!-- Starting content-->
    <div class="mdl-grid" id="hero-section">
      <section id="overlay">
        <img src="../assets/img/TESLA.png" id="tesla" alt="">
        <h1 id="heading"></h1>
      </section>
    </div>

    <section class="red-divider"></section>
    <div class="mdl-grid normal-row">
      <div class="mdl-cell mdl-cell--10-col mdl-cell--1-offset-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-cell--0-offset-tablet mdl-cell--0-offset-phone">
        <h2></h2>
        <section class="normal-text mdl-cell mdl-cell--10-col">
          {{ "INDEX.CONTENT_1" | translate }}
          <br><br> {{ "INDEX.CONTENT_2" | translate }}
          <br><br> {{ "INDEX.CONTENT_3" | translate }}​
        </section>
        <img src="../assets/img/EloMusk.jpg" class="avatar-elo" alt="">
      </div>
    </div>

    <div class="mdl-grid extra-padding">
      <div class="mdl-cell mdl-cell--10-col mdl-cell--1-offset-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-cell--0-offset-tablet mdl-cell--0-offset-phone">
        <h2 class="heading-100">{{ "INDEX.TITLE_1" | translate }}</h2>
        <section class="normal-text">
          {{ "INDEX.CONTENT_4" | translate }}
        </section>
      </div>

      <div class="mdl-cell mdl-cell--1-col-desktop mdl-cell--1-col-tablet"></div>

      <div class="mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--1-col-offset-tablet mdl-cell--4-col-desktop mdl-cell--2-offset-desktop">
        <div class="demo-card-square mdl-card card-shadow">
          <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text">{{ "EXTRAS.CARD_INDEX" | translate }}</h2>
          </div>
          <div class="mdl-card__supporting-text card-text">
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam non ligula et tortor pellentesque feugiat vel a metus. Mauris sed tincidunt risus, at interdum nunc. Maecenas sem nisl, consequat at nunc sed, lobortis feugiat orci.
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-js-button mdl-js-ripple-effect">
              {{ "EXTRAS.CARD_CONTENT" | translate }}
            </a>
          </div>
        </div>
      </div>

      <div class="mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--4-col-desktop">
        <div class="demo-card-square mdl-card card-shadow">
          <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text">{{ "EXTRAS.CARD_INDEX_2" | translate }}</h2>
          </div>
          <div class="mdl-card__supporting-text card-text">
            Phasellus luctus tellus a metus semper, eget ultrices turpis feugiat. Sed hendrerit lacus sed eros bibendum, euismod fermentum lorem efficitur. Cras eleifend felis quis auctor egestas.
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-js-button mdl-js-ripple-effect">
              {{ "EXTRAS.CARD_CONTENT" | translate }}
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="mdl-grid normal-row">
      <div class="mdl-cell mdl-cell--10-col mdl-cell--1-offset-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-cell--0-offset-tablet mdl-cell--0-offset-phone giant-card">
        <h2 class="heading-100">{{ "INDEX.TITLE_2" | translate }}</h2>
        <section class="normal-text">
          {{ "INDEX.CONTENT_5" | translate }}
          <br><br>
          {{ "INDEX.CONTENT_6" | translate }}
        </section>
      </div>

      <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet">
        <img src="../assets/img/TeslaModelS.jpg" class="model-car  box-shadow" alt="">
      </div>

      <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet">
        <img src="../assets/img/TeslaSpor.jpg" class="model-car  box-shadow" alt="">
      </div>

      <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet">
        <img src="../assets/img/TeslaRoadster.jpg" class="model-car box-shadow" alt="">
      </div>
    </div>


    <div class="mdl-grid extra-padding">
      <div class="mdl-cell mdl-cell--10-col mdl-cell--1-offset-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-cell--0-offset-tablet mdl-cell--0-offset-phone">
        <section class="normal-text">
          {{ "INDEX.CONTENT_7" | translate }}
          <br><br>
          {{ "INDEX.CONTENT_8" | translate }}
          <br><br>
          {{ "INDEX.CONTENT_9" | translate }}
          <br><br>
          {{ "INDEX.CONTENT_10" | translate }}
          <br><br>
          <button mat-raised-button color="primary" routerLink=".">{{ "EXTRAS.BUTTON" | translate }}</button>
        </section>
      </div>
    </div>

    <div class="mdl-grid extra-padding">
      <div class="mdl-cell mdl-cell--10-col mdl-cell--1-offset-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-cell--0-offset-tablet mdl-cell--0-offset-phone">
        <h2 class="heading-100">{{ "INDEX.TITLE_3" | translate }}</h2>
        <section class="normal-text">
          {{ "INDEX.CONTENT_11" | translate }}
        </section>

        <mat-divider>
        </mat-divider>

        <!-- Number badge on icon -->
        <div class="mdl-grid extra-padding add-padding">
          <div class="demo-card-event mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet">
            <div class="mdl-card__title mdl-card--expand">
              <h4>
                {{ "INDEX_CARDS.NAME" | translate }}<br>
                <span class="card-meaning-text">{{ "INDEX_CARDS.TITLE_1" | translate }}</span><br>
                <span class="card-date-text">May 24, 2018</span><br>
                <span class="card-hour-text">7pm - 11pm</span>
                <br>
                <span class="small-text">San Diego, California</span><br>
              </h4>
            </div>
            <div class="mdl-card__actions mdl-card--border">
              <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored mdl-tesla-text">
              {{ "EXTRAS.BUTTON_2" | translate }}
              </a>
              <div class="mdl-layout-spacer"></div>
              <i class="material-icons"></i>
            </div>
          </div>

          <div class="demo-card-event mdl-card mdl-shadow--8dp mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet">
            <div class="mdl-card__title mdl-card--expand">
              <h4>
                      {{ "INDEX_CARDS.NAME" | translate }}<br>
                      <span class="card-meaning-text">{{ "INDEX_CARDS.TITLE_2" | translate }}</span><br>
                      <span class="card-date-text">May 27, 2018</span><br>
                      <span class="card-hour-text">3pm - 6pm</span>
                      <br>
                      <span class="small-text">Manhattan, New York</span><br>
                    </h4>
            </div>
            <div class="mdl-card__actions mdl-card--border">
              <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-tesla">
                    {{ "EXTRAS.BUTTON_3" | translate }}
                    </a>
              <div class="mdl-layout-spacer"></div>
              <i class="material-icons"></i>
            </div>
          </div>

          <div class="demo-card-event mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet">
            <div class="mdl-card__title mdl-card--expand">
              <h4>
                      {{ "INDEX_CARDS.NAME" | translate }}<br>
                      <span class="card-meaning-text">{{ "INDEX_CARDS.TITLE_3" | translate }}</span><br>
                      <span class="card-date-text">May 28, 2018</span><br>
                      <span class="card-hour-text">3pm - 6pm</span>
                      <br>
                      <span class="small-text">Bronx, New York</span><br>
                    </h4>
            </div>
            <div class="mdl-card__actions mdl-card--border">
              <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored mdl-tesla-text">
                    {{ "EXTRAS.BUTTON_2" | translate }}
                    </a>
              <div class="mdl-layout-spacer"></div>
              <i class="material-icons"></i>
            </div>
          </div>
        </div>

        <div class="mdl-grid extra-padding">
            <div class="mdl-cell mdl-cell--10-col mdl-cell--1-offset-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-cell--0-offset-tablet mdl-cell--0-offset-phone">
            <h2 class="heading-100">{{ "INDEX.TITLE_4" | translate }}</h2>
            <section class="normal-text">

            </section>
            <section class="mdl-cell mdl-cell--12-col--desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-cell--0-offset-tablet mdl-cell--0-offset-phone associated">
              <section class="mdl-cell mdl-cell--2-col-desktop mdl-cell--7-col-phone img-associated">
                <img src="../assets/img/Panasonic.svg" class="img-aso" alt="">
              </section>
              <section class="mdl-cell mdl-cell--2-col-desktop mdl-cell--7-col-phone img-associated">
                <img src="../assets/img/SpaceX.png" class="img-aso" alt="">
              </section>
              <section class="mdl-cell mdl-cell--2-col-desktop mdl-cell--7-col-phone img-associated">
                <img src="../assets/img/SolarCity.png" class="img-aso" alt="">
              </section>
              <section class="mdl-cell mdl-cell--2-col-desktop mdl-cell--7-col-phone img-associated">
                <img src="../assets/img/OpenAI.png" class="img-aso" alt="">
              </section>
            </section>
          </div>
        </div>

      </div>
    </div>
  <!-- Finish content -->
