/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.shadow_box{
      box-shadow: 0 0 2px 0 rgba(46,62,72,.12), 0 2px 4px 0 rgba(46,62,72,.12);
}

header .mat-form-field-infix{
  width: 50px !important;
  color: white !important;
  margin-top: 5px !important;
}

header .mat-select-value{
  color: white !important;
}

.mdl-layout__header-row .mdl-navigation__link {
    color: #ccc;
    transition: all 0.3s ease-in-out;
}

.mdl-layout__header-row .mdl-navigation__link:hover {
    color: white;
}

.mdl-card .mdl-tesla{
  background: rgb(227, 45, 45);
}

.mdl-card .mdl-tesla:hover{
  background: rgb(227, 45, 45);
}

.mdl-card .mdl-tesla-text{
  color: rgb(227, 45, 45);
}
