/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.shadow_box{
      box-shadow: 0 0 2px 0 rgba(46,62,72,.12), 0 2px 4px 0 rgba(46,62,72,.12);
}

header .mat-form-field-infix{
  width: 50px !important;
  color: white !important;
  margin-top: 5px !important;
}

header .mat-select-value{
  color: white !important;
}

.mdl-layout__header-row .mdl-navigation__link, .mdl-layout-title {
    color: #a5a5a5;
    transition: all 0.3s ease-in-out;
}

.mdl-layout-title{
  font-size: 15px;
  letter-spacing: 2px;
}

.mdl-layout__header-row .mdl-navigation__link:hover {
    color: white;
}

.mdl-card .mdl-tesla{
  background: rgb(227, 45, 45);
}

.mdl-card .mdl-tesla:hover{
  background: rgb(227, 45, 45);
}

.mdl-card .mdl-tesla-text{
  color: rgb(227, 45, 45);
}

.normal-text{
  margin: 0 auto;
}

.small-text{
  font-size: 0.72em;
  color: gray;
  font-weight: 400;
}

.card-hour-text{
  font-weight: 400;
  font-weight: .8em;
}

.card-extra-text{
  font-weight: 400;
  font-size: .62em;
  color: gray;
}

.card-date-text{
  font-size: 1.5em;
}

.card-meaning-text{
  font-size: 0.8em;
}

.mdl-layout__drawer-button{
  color: rgba(255, 0, 0, 0.6);
}

.mdl-layout__drawer{
  background: #0a0a0a !important;
  border-color: black !important;
  color: white;
}

::selection{
  background: #eee;
  color: #222;
}

.mdl-layout__drawer a{
  color: rgba(255,255,255,0.6) !important;
  font-weight: 400 !important;
  font-size: 0.95em !important;
  transition: all 0.2s ease;
  border-bottom: 2px solid rgba(255, 0, 0, 0.3);
}


.mdl-layout__drawer a:last-child{
  border-bottom: 0px solid;
}


.mdl-layout__drawer a:hover{
  color: rgba(255,255,255,0.8) !important;
  background: #111 !important;
  color: rgba(255,255,255,0.7);
  border-color: rgba(255, 0, 0, 0.6);
}

.mdl-layout__drawer span{
  color: rgba(255,255,255,0.6) !important;
  letter-spacing: 2px;
  font-size: 14px;
}

.mdl-layout__drawer .mdl-navigation{
  padding-top:0px;
}

.active{
  background: black !important;
}

.card-shadow{
  box-shadow: 0 2px 24px 0 rgba(0,0,0,.06);
  display: block;
  margin: 0 auto;
}

.mdl-mini-footer{
  background-color: #1a1a1a !important;
}

select{
    padding: 4px 5px;
    background: #080808;
    border: 2px solid white;
    color: white;
}

select:focus{
  outline: 0;
}


.active{
  color: white !important;
}

.active:active{
  outline: 0;
}

.mat-fab.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
    background-color: #ff0000b8;
}
